body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

.navigation {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.navigation a {
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.navigation a:hover {
    background-color: #0056b3;
}

.mechanic-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.mechanic-table th, .mechanic-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.mechanic-table th {
    background-color: #4f4f4f;
    color: white;
}
