<!DOCTYPE html>
<html>
<head>
    <title>Lista de Compradores</title>
    <link rel="stylesheet" href="/static/css/cars-style.css">
</head>

<header>
    <h1>Lista de Compradores</h1>

    <nav class="navigation">
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('create_buyer') }}">Agregar Comprador</a>

    </nav>
</header>

<body>
    <section id="buyers">
        <h2>Lista de Compradores</h2>


        <table>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Eliminar</th>
            </tr>
            {% for buyer in buyers %}
            <tr>
                <td>{{ buyer.id }}</td>
                <td>{{ buyer.name }}</td>
                <td>{{ buyer.email }}</td>
                <td>{{ buyer.phone }}</td>
                <td>
                    <form method="POST" action="{{ url_for('delete_buyer', buyer_id=buyer.id) }}">
                        <button type="submit">Borrar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </section>
</body>
</html>
