<!DOCTYPE html>
<html>
<head>
    <title>Lista de Carros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cars-style.css') }}">
</head>

<header>
    <h1>Lista de Carros</h1>

    <nav class="navigation">
        <a href="{{ url_for('create_car') }}">Agregar Carro</a>
        <a href="{{ url_for('sales') }}">Historial de Ventas</a>
        <a href="{{ url_for('cars') }}">Lista de Carros</a>
    </nav>
</header>

<body>
    <section id="cars">
        <h2>Carros Disponibles</h2>
        <table>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Color</th>
                <th>Tipo de Vehículo</th>
                <th>Kilometraje</th>
                <th>Fotografía</th>
                <th>Transmisión</th>
                <th>Motor</th>
                <th>Tipo de Combustible</th>
            </tr>
            {% for car in cars %}
            <tr>
                <td>{{ car.make }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.color }}</td>
                <td>{{ car.vehicle_type }}</td>
                <td>{{ car.mileage }}</td>
                <td><img src="{{ car.photo }}" alt="Foto"></td>
                <td>{{ car.transmission }}</td>
                <td>{{ car.engine }}</td>
                <td>{{ car.fuel_type }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
</body>
</html>
