<!DOCTYPE html>
<html>
<head>
    <title>Crear un Nuevo Carro</title>
    <link rel="stylesheet" href="agCar-style.css">
</head>

<header>
    <h1>Crear Nuevo Carro</h1>

    <nav class="navigation">
        <!-- <a href="create_car.html">Agregar Carro</a> -->
        <a href="create_sale.html">Agregar Venta</a>
        <a href="sales.html">Historial</a>
        <a href="cars.html">Lista de Carros</a>
        
    </nav>
</header>


<body>
    <section id="create_car">
    </section>
    <h1>Crear un Nuevo Carro</h1>
    <form method="POST" action="/create_car">
        <input type="text" name="make" placeholder="Marca">
        <input type="text" name="model" placeholder="Modelo">
        <input type="text" name="year" placeholder="Año">
        <input type="submit" value="Crear Carro">
    </form>
</body>
</html>
