<!DOCTYPE html>
<html>
<head>
    <title>Crear una Nueva Venta</title>
    <link rel="stylesheet" href="/static/css/cars-style.css">
</head>

<header>
    <h1>Crear Nueva Venta</h1>

    <nav class="navigation">
        <a href="create_car.html">Agregar Carro</a>
        <!-- <a href="create_sale.html">Agregar Venta</a> -->
        <a href="sales.html">Historial</a>
        <a href="cars.html">Lista de Carros</a>
        
    </nav>
</header>


<body>
    <h1>Crear una Nueva Venta</h1>
    <form method="POST" action="/create_sale">
        <input type="text" name="car_id" placeholder="ID del Carro">
        <input type="submit" value="Crear Venta">
    </form>
</body>
</html>
