<!DOCTYPE html>
<html>
<head>
    <title>Lista de Motos</title>
    <link rel="stylesheet" href="/static/css/cars-style.css">
</head>

<header>
    <h1>Lista de Motos</h1>

    <nav class="navigation">
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('create_moto') }}">Crear Una Moto</a>
    </nav>
</header>

<body>
    <section id="motos">
        <h2>Motos Disponibles</h2>
        
        <!-- Agrega un formulario de filtro -->
        <form method="GET" action="{{ url_for('motos') }}" id="moto-filter-form">
            <label for="make-filter">Marca:</label>
            <input type="text" name="make" id="make-filter">
            
            <label for="model-filter">Modelo:</label>
            <input type="text" name="model" id="model-filter">
            
            <label for="year-filter">Año:</label>
            <input type="text" name="year" id="year-filter">
            
            <input type="submit" value="Filtrar">
        </form>
        
        <table class="moto-table">
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Año</th>
                <th>Color</th>
                <th>Kilometraje</th>
                <th>Fotografía</th>
                <th>Transmisión</th>
                <th>Motor</th>
                <th>Tipo de Combustible</th>
            </tr>
            {% for moto in motos %}
            <tr>
                <td>{{ moto.make }}</td>
                <td>{{ moto.model }}</td>
                <td>{{ moto.year }}</td>
                <td>{{ moto.color }}</td>
                <td>{{ moto.mileage }}</td>
                <td><img class="moto-photo" src="{{ moto.photo }}" alt="Foto"></td>
                <td>{{ moto.transmission }}</td>
                <td>{{ moto.engine }}</td>
                <td>{{ moto.fuel_type }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
</body>
</html>
