<!DOCTYPE html>
<html>
<head>
    <title>Lista de Ventas</title>
    <link rel="stylesheet" href="/static/css/cars-style.css">

</head>

<header>
    <h1>Lista de Ventas</h1>

    <nav class="navigation">
        <a href="create_car.html">Agregar Carro</a>
        <a href="create_sale.html">Agregar Venta</a>
        <a href="cars.html">Lista de Carros</a>
    </nav>
</header>

<body>
    <section id="sales">
        <h2>Historial de Ventas</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Comprador</th>
                <th>ID del Carro</th>
                <th>Precio de Venta</th>
                <th>Fecha</th>
            </tr>
            {% for sale in sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.buyer_name }}</td>
                <td>{{ sale.car_id }}</td>
                <td>{{ sale.sale_price }}</td>
                <td>{{ sale.date }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
</body>
</html>
