<!DOCTYPE html>
<html>
<head>
    <title>Lista de Ventas</title>
    <link rel="stylesheet" href="/static/css/cars-style.css">
</head>

<header>
    <h1>Lista de Ventas</h1>

    <nav class="navigation">
        <!-- <a href="{{ url_for('create_car') }}">Agregar Carro</a> -->
        <a href="{{ url_for('create_sale') }}">Agregar Venta</a>
        <a href="{{ url_for('cars') }}">Lista de Carros</a>
        <a href="{{ url_for('motos') }}">Lista de Motos</a>
    </nav>
</header>

<body>
    <section id="sales">
        <h2>Historial de Ventas</h2>

        <form action="{{ url_for('sales') }}" method="GET" class="filter-form">
            <label for="buyer_name">Comprador:</label>
            <input type="text" name="buyer_name" id="buyer_name">
            <label for="car_id">ID del Carro:</label>
            <input type="text" name="car_id" id="car_id">
            <label for="date">Fecha:</label>
            <input type="text" name="date" id="date">
            <input type="submit" value="Filtrar">
        </form>

        <table class="car-table">
            <tr>
                <th>ID</th>
                <th>Comprador</th>
                <th>ID del Carro</th>
                <th>Precio de Venta</th>
                <th>Fecha</th>
            </tr>
            {% for sale in sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.buyer_name }}</td>
                <td>{{ sale.car_id }}</td>
                <td>{{ sale.sale_price }}</td>
                <td>{{ sale.date }}</td>
            </tr>
            {% endfor %}
        </table>
    </section>
</body>
</html>
